include _injections
html
	head
		title=title
		link(rel='stylesheet' href=path.distCSS type='text/css')
		meta(charset='UTF-8')
		meta(name="viewport" content="width=device-width, initial-scale=1")
	body
		block body
		script(src=path.distJS)
